.shadowGenerator {
    min-height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;

    .field {
        display: flex;
        align-items: center;

        label {
            margin-right: 1rem;
        }
    }
}