.radio {
    display: flex;
    border-radius: 20px;
    margin: 1em 0;
    padding: 0.6rem;
    border-radius: 50px;
    min-width: 200px;
    min-height: 40px;
    user-select: none;

    .option {
        cursor: pointer;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0.6rem 1.2rem;
        margin: 0 .2rem;
        input[type='radio'] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        &:checked::after {
            content: '';
            position: absolute;
            width: 50%;
            bottom: 0;
            border: 1px solid red;
        }
    }
}
